.prism-container {
  width: 95%;
  height: 180px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    'mt mt mt mt mt mt mt'
    'ml pt pt pt pt pt mr'
    'ml pl ct ct ct pr mr'
    'ml pb pb pb pb pb mr'
    'mb mb mb mb mb mb mb';
}

.prism-mt {
  grid-area: mt;
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
}

.prism-ml {
  grid-area: ml;
}

.prism-pt {
  grid-area: pt;
  border-top: 0.25rem solid #28334d;
  border-right: 0.25rem solid #28334d;
  border-left: 0.25rem solid #28334d;
}

.prism-mr {
  grid-area: mr;
}

.prism-pl {
  grid-area: pl;
  border-left: 0.25rem solid #28334d;
  padding-left: 0.25rem;
}

.prism-ct {
  grid-area: ct;
}

.prism-pr {
  grid-area: pr;
  border-right: 0.25rem solid #28334d;
  padding-right: 0.25rem;
}

.prism-pb {
  grid-area: pb;
  border-right: 0.25rem solid #28334d;
  border-bottom: 0.25rem solid #28334d;
  border-left: 0.25rem solid #28334d;
}

.prism-mb {
  grid-area: mb;
  background-color: #3d4b6c;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.prism-mt,
.prism-ml,
.prism-pt,
.prism-mr,
.prism-pl,
.prism-ct,
.prism-pr,
.prism-pb,
.prism-mb {
  height: 100%;
  box-sizing: border-box;
  place-self: center;
  text-align: center;
  width: 100%;
  color: ##ecedef;
  background-color: #3d4b6c;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.65rem;
}

.prism-attribute-container-unselected {
  color: #828fa8;
}

.prism-attribute-container-selected {
  border-radius: 0.25rem;
  background-color: #28334d;
  border: 0.1rem solid #2297ce;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
}

.prism-attribute-container-is-dirty {
  border-bottom: 1px dashed #dbaf66;
  color: '#fff';
}

.prism-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.prism-text {
  color: ;
}

.prism-value-selected {
  color: #dcdde1;
  border: none;
  background-image: none;
  background-color: transparent;
  box-shadow: none;
  outline: none;
  width: 0.75rem;
  font-size: 0.5rem;
  font-weight: 500;
}

.prism-unit-unselected {
  margin-left: 0.05rem;
  font-size: 0.65rem;
}

.prism-unit-selected {
  border: none;
  color: #dcdde1;
  background-color: transparent;
  font-size: 0.5rem;
  padding-top: 0.075rem;
  font-weight: 600;
  appearance: none;
}

.prism-unit-selected:hover {
  border-color: none;
}

.prism-unit-selected:focus {
  outline: none;
}
