.PropertiesPanel {
  width: 320px;
  background-color: #28334d;
  height: 100vh;
}

.Collapsible {
  margin-bottom: 16px;
}

.Collapsible-button {
  width: 100%;
  display: block;
  margin-bottom: 8px;
  background-color: #3d4b6c;
  border: none;
  padding: 8px;
  color: white;
  text-align: left;
  font-size: 16px;
  cursor: pointer;
}

.Collapsible-content {
  margin: 8px;
}
